header{
    position: fixed;
    top: 0;
    z-index: 100;
}

.portfolio2{
    display: none;
}

.imagem-topo{
    margin-top: 20px;
}

.botao{
    display: none !important;
}

.contatos a{
    text-decoration: none;
    color:#33a9ac;
}

.contatos a:hover{
    text-decoration: none;
    color:#a9b6c3;
}

.github-icon, .insta-icon, .gmail-icon, .linkedin-icon, .whats-icon{
    width: 15%;
    margin-right: 10px;
    margin-bottom: 10px;

    filter: invert(61%) sepia(8%) saturate(1033%) hue-rotate(178deg) brightness(82%) contrast(86%);

}

    /* filter: invert(93%) sepia(2%) saturate(5095%) hue-rotate(180deg) brightness(82%) contrast(82%);
} */

/* CORES DE BACKGROUND*/

.bg-roxo{
    background-color: #343779;
}

.bg-rosa-pink{
    background-color: #982062;
}

.bg-laranja{
    background-color: #f86041;
}

.bg-amarelo{
    background-color: #ffa046;
}

.bg-azulCyano{
    background-color: #33a9ac;
}

.bg-azul-hard-dark{
    background-color: #181c2a;
}

.bg-azul-dark{
    background-color: #112731;
}

.bg-azul-dark-soft{
    background-color: #06334b;
}

.bg-azul-grey{
    background-color: #7a8ea1;
}

.bg-azul-grey-grey{
    background-color: #74839b;
}

.bg-azul-light{
    background-color:  #a9b6c3;
}

.bg-gradiente{
    background: linear-gradient(to bottom, #343779 0%, #33a9ac 100%)
}

/*----------------------------------------------*/

.box-shadow-meu{
    /* box-shadow: 0px 1px 5px 5px #020202; */
    box-shadow: 0px 1px 5px 5px rgba(2, 2, 2, 0.48);
}

/*TEXT-SHADOW*/

.smooth{
    color: rgb(68, 68, 68);
/* background: rgb(255, 255, 255); */
text-shadow: rgb(204, 204, 204) 1px 0px 1px, rgb(238, 238, 238) 0px 1px 1px, rgb(204, 204, 204) 2px 1px 1px, rgb(238, 238, 238) 1px 2px 1px, rgb(204, 204, 204) 3px 2px 1px, rgb(238, 238, 238) 2px 3px 1px, rgb(204, 204, 204) 4px 3px 1px, rgb(238, 238, 238) 3px 4px 1px, rgb(204, 204, 204) 5px 4px 1px, rgb(238, 238, 238) 4px 5px 1px, rgb(204, 204, 204) 6px 5px 1px, rgb(238, 238, 238) 5px 6px 1px, rgb(204, 204, 204) 7px 6px 1px;
--darkreader-inline-color:#bdb7af;
--darkreader-inline-bgimage: initial;
--darkreader-inline-bgcolor:#181a1b;
}

.retro{
    text-shadow: 4px 5px 1px #181C2A;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 742px) {
    .botao{
        display: block !important;
    }
}

@media screen and (max-width: 991px){
    .menu{
        display: none !important;
    }

    header{
        position: fixed !important;
        top: 0 !important;
        justify-content: space-around !important;
        z-index: 100 !important;
    }
    
    .menu-expansivo{
        margin-left: 20px;
        padding: 10px;
        position: fixed !important;
        right: 20%;
        top: 55px !important;
        background-color: #181c2a !important;
        z-index: 100 !important;
        border: 1px solid #74839b;
        border-top: none;
        width: 25%;
    }

    .imagem-topo{
        margin-top: 60px;
        display: block !important;
    }
}

@media screen and (max-width: 540px){
    .menu{
        display: none !important;
    }

    .portfolio1{
        display: none !important;
    }

    .portfolio2{
        display: block !important;
    }

    header{
        position: fixed !important;
        top: 0 !important;
        justify-content: space-around !important;
        z-index: 100 !important;
    }
    
    .menu-expansivo{
        padding: 10px;
        position: fixed !important;
        right: 20%;
        top: 55px !important;
        background-color: #181c2a !important;
        z-index: 100 !important;
        border: 1px solid #74839b;
        border-top: none;
    }

    .imagem-topo{
        display: none !important;
    }

    .imagem-topo2{
        margin-top: 60px;
        display: block !important;
    }
}

@media screen and (max-width: 280px){
    .menu{
        display: none !important;
    }

    .portfolio1{
        display: none !important;
    }

    .portfolio2{
        display: block !important;
    }

    header{
        position: fixed !important;
        top: 0 !important;
        justify-content: space-around !important;
        z-index: 100 !important;
    }
    
    .menu-expansivo{
        padding: 10px;
        position: fixed !important;
        right: 20%;
        top: 55px !important;
        background-color: #181c2a !important;
        z-index: 100 !important;
        border: 1px solid #74839b;
        border-top: none;
        width: 40%;
    }

    .imagem-topo{
        display: none !important;
    }

    .imagem-topo2{
        margin-top: 60px;
        display: block !important;
    }
}